
@{
    ViewBag.Title = "ChuongTrinhKhuyenMai";
    Layout = "~/Views/Admin/Layout/_Admin.cshtml";
    ViewBag.Name = "Chương trình khuyến mãi";
    ViewBag.ctkm = "active";
}

<h2>ChuongTrinhKhuyenMai</h2>

