
@{
    ViewBag.Title = "CTDoiTac";
    Layout = "~/Views/Admin/Layout/_Admin.cshtml";
    ViewBag.Name = "Quản lý đối tác";
    ViewBag.qldt = "active";
}

<body>
    <div class="" style="width: 185px; white-space: nowrap; margin: 4px auto; border: 2px solid #000; border-radius: 10px; padding-top: 10px; ">
        <div class="" style="height: 100%;   display: flex;   justify-content: center;   align-items: center;">
            <p class="" style="font-size: 24px;  font-weight: bold;">Chi tiết Đối tác</p>
        </div>
    </div>

    @* table 1*@
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <form action="/action_page.php">
                    <table class="table table-bordered js-copytextarea dataTable no-footer" cellpadding="0" cellspacing="0" border="0" role="grid" aria-describedby="sampleTable_info">
                        <tr style="display:flex;width:100%">
                            <td>
                                <label for="fname">Mã Đối tác:</label>
                                <input type="text" id="fname" name="fname" style="border:none ; width:auto">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label for="fname">Tên Đối tác:</label>
                                <input type="text" id="fname" name="fname" style="border:none">
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <label for="fname">Loại doanh nghiệp:</label>
                                <input type="text" id="fname" name="fname" style="border:none">
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <label for="fname">Tên công ty:</label>
                                <input type="text" id="fname" name="fname" style="border:none">
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <label for="fname">Quốc gia:</label>
                                <input type="text" id="fname" name="fname" style="border:none">
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <label for="fname">Thành phố:</label>
                                <input type="text" id="fname" name="fname" style="border:none">
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <label for="fname">Địa chỉ công ty:</label>
                                <input type="text" id="fname" name="fname" style="border:none">
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <label for="fname">Email:</label>
                                <input type="text" id="fname" name="fname" style="border:none">
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <label for="fname">Số điện thoại:</label>
                                <input type="text" id="fname" name="fname" style="border:none">
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <label for="fname">Website:</label>
                                <input type="text" id="fname" name="fname" style="border:none">
                            </td>

                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <a href="#" style="width: auto; white-space: nowrap; margin: 4px auto; border: 2px solid #000; padding: inherit; font-size: 24px; font-weight: bold; border-radius: 5px ">Lưu</a>
</body>
