
@{
    ViewBag.Title = "CTTour";
    Layout = "~/Views/Admin/Layout/_Admin.cshtml";
    ViewBag.Name = "Quản lý Tour";
    ViewBag.qlt = "active";
}
<div class="" style="width: 20%; margin: 4px auto; border: 2px solid #000; border-radius: 10px; padding-top: 10px; ">
    <div class="" style="height: 100%;   display: flex;   justify-content: center;   align-items: center;">
        <p class="" style="font-size: 24px; font-weight: bold;">Chi Tiết Tour</p>
    </div>
</div>