
@{
    ViewBag.Title = "CTTour";
    Layout = "~/Views/Admin/Layout/_Admin.cshtml";
    ViewBag.Name = "Quản lý Tour";
    ViewBag.qlt = "active";
}
<body>
    <div class="" style="width: 185px; white-space: nowrap; margin: 4px auto; border: 2px solid #000; border-radius: 10px; padding-top: 10px; ">
        <div class="" style="height: 100%;   display: flex;   justify-content: center;   align-items: center;">
            <p class="" style="font-size: 24px;  font-weight: bold;">Chi tiết tour</p>
        </div>
    </div>

    @* table 1*@
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <form action="/action_page.php">
                    <table class="table table-bordered js-copytextarea dataTable no-footer" cellpadding="0" cellspacing="0" border="0" role="grid" aria-describedby="sampleTable_info">
                        <tr style="display:flex;width:100%" >
                            <td>
                                <label for="fname">Mã tour:</label>
                                <input type="text" id="fname" name="fname" style="border:none ; width:auto">
                            </td>
</tr>
                     
                        <tr>
                            <td>
                                <label for="fname">Tên tour:</label>
                                <input type="text" id="fname" name="fname" style="border:none">
                            </td>
                           
                        </tr>
                        <tr>
                            <td>
                                <label for="fname">Địa điểm:</label>
                                <input type="text" id="fname" name="fname" style="border:none">
                            </td>
                            
                        </tr>
                        <tr>
                            <td>
                                <label for="fname">Mô tả:</label>
                                <input type="text" id="fname" name="fname" style="border:none">
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <label for="fname">Thời gian mở bán:</label>
                                <input type="text" id="fname" name="fname" style="border:none">
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <label for="fname">Nhân viên duyệt:</label>
                                <input type="text" id="fname" name="fname" style="border:none">
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <label for="fname">Tour đã bán:</label>
                                <input type="text" id="fname" name="fname" style="border:none">
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <label for="fname">Tour chưa bán:</label>
                                <input type="text" id="fname" name="fname" style="border:none">
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <label for="fname">Áp dụng khuyến mãi:</label>
                                <input type="text" id="fname" name="fname" style="border:none">
                            </td>
                           
                        </tr>
                        <tr>
                            <td>
                                <label for="fname">Giá vé:</label>
                                <input type="text" id="fname" name="fname" style="border:none">
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <label for="fname">Trạng thái:</label>
                                <input type="text" id="fname" name="fname" style="border:none">
                            </td>


                        </tr>
                        <tr>
                            <td>
                                <label for="fname">Ghi chú:</label>
                                <input type="text" id="fname" name="fname" style="border:none">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</body>