
@{
    ViewBag.Title = "CTTour";
    Layout = "~/Views/Admin/Layout/_Admin.cshtml";
    ViewBag.Name = "Quản lý Tour";
    ViewBag.qlt = "active";
}
<body>
    <div class="" style="width: 185px; white-space: nowrap; margin: 4px auto; border: 2px solid #000; border-radius: 10px; padding-top: 10px; ">
        <div class="" style="height: 100%;   display: flex;   justify-content: center;   align-items: center;">
            <p class="" style="font-size: 24px;  font-weight: bold;">Chi tiết tour</p>
        </div>
    </div>

    @* table 1*@
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <table class="table table-hover table-bordered js-copytextarea dataTable no-footer" cellpadding="0" cellspacing="0" border="0" role="grid" aria-describedby="sampleTable_info">
                    <tr>
                        <td>
                            Mã tour:
                        </td>
                        <td>
                            input text
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tên tour:
                        </td>
                        <td>
                            input text
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Địa điểm:
                        </td>
                        <td>
                            input text
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Mô tả:
                        </td>
                        <td>
                            input text
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Thời gian mở bán:
                        </td>
                        <td>
                            input text
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Nhân viên duyệt:
                        </td>
                        <td>
                            input text
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tour đã bán:
                        </td>
                        <td>
                            input text
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tour chưa bán:
                        </td>
                        <td>
                            input text
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Áp dụng khuyến mãi:
                        </td>
                        <td>
                            input text
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Giá vé (VND):
                        </td>
                        <td>
                            input text
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Trạng thái:
                        </td>
                        <td>
                            input text
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ghi chú:
                        </td>
                        <td>
                            input text
                        </td>
                    </tr>



                </table>
            </div>
        </div>
    </div>
</body>