
@{
    ViewBag.Title = "HoTroKH";
    Layout = "~/Views/Admin/Layout/_Admin.cshtml";
    ViewBag.Name = "Hỗ trợ khách hàng";
    ViewBag.htkh = "active";
}

<h2>HoTroKH</h2>

<div class="row" style="padding: 10px 20px">
    <div class="col-xs-12">
        <a class="widget-small info coloured-icon @ViewBag.qlk" href="#">
            <img src="~/Images/avt2.jpg" class="rounded" style="width: 120px; height: 120px; object-fit: cover;" />
            @*<i class='icon bx bxs-user-account fa-3x'></i>*@
            <div class="info">
                <h4>Thông tin tour</h4>
                <p><b>Tổng @TempData["tongTour"] tour được quản lý</b></p>
                <p class="info-tong">Tổng số tour được tạo</p>
            </div>
        </a>
    </div>
</div>