body {
    width: 100%;
}

h1, h2, h3, h4 {
    display: inline-block;
}

.Inner, .InvisibleButton, #UpperTaskbar {
    display: inline;
}

#Logo {
    font-size: 40px;
    margin-left: 20px;
}

#UpperTaskbar {
    background-color: #FFFFFF;
}

.InvisibleButton, .NormalButton, .SigninButton, .OrangeButton, .SideButton {
    border: hidden;
}

.NormalButton {
    background-color: #FFFFFF;
    color: #000000;
    border: hidden;
    font-size: 20px;
    margin-right: 50px;
}

.OrangeButton {
    background-color: #FF8000;
    color: #FFFFFF;
    border-radius: 10px;
}

.SigninButton {
    background-color: #3399FF;
    color: #FFFFFF;
    border: hidden;
    font-size: 20px;
    margin-right: 50px;
}

#Taskbar, .TaskbarButton {
    background-color: #E0E0E0;
}

.TaskbarButton {
    border: hidden;
    font-size: 20px;
}

#Search {
    font-size: 30px;
    background-color: #FFFFFF;
}

.Right {
    float: right;
    margin-right: 50px;
}

.Left, #SideBar {
    float: left;
    margin-left: 50px;
}

#SideBar, .SideButton {
    background-color: #FFFFFF;
}

.SideButton {
    font-size: 20px;
}

.CheckBoxButton {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #FFFFFF;
    vertical-align: middle;
}

    .CheckBoxButton:checked {
        background-color: #3399FF;
    }
