
@{
    ViewBag.Title = "AccountDetail";
    Layout = "_CustomerLayout.cshtml";
}

<body>
    <link href="~/Content/CustomerStyle.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" />

    <div style="padding: 20px; margin-top: 100px">
        <div id="SideBar">
            <br />
            <button type="button" class="SideButton">Điểm thưởng của tôi</button>
            <br />
            <button type="button" class="SideButton">Thẻ của tôi</button>
            <br />
            <button type="button" class="SideButton">Đặt chỗ của tôi</button>
            <br />
            <button type="button" class="SideButton">Danh sách giao dịch</button>
            <br />
            <button type="button" class="SideButton">Thông báo giá vé máy bay</button>
            <br />
            <button type="button" class="SideButton">Passenger Quick Pick</button>
            <br />
            <button type="button" class="SideButton">Khuyến mãi</button>
            <br />
            <button type="button" class="SideButton">Tài khoản</button>
            <br />
            <button type="button" class="SideButton">Đăng xuất</button>
            <br />
        </div>
    </div>
</body>

