
@{
    ViewBag.Title = "AccountDetail";
    Layout = "~/Views/Admin/Layout/_Customer.cshtml";
}

<body>
    <div id="SideBar">
        <button type="button" class="SideButton">Điểm thưởng của tôi</button>
        <br />
        <button type="button" class="SideButton">Thẻ của tôi</button>
        <br />
        <button type="button" class="SideButton">Đặt chỗ của tôi</button>
        <br />
        <button type="button" class="SideButton">Danh sách giao dịch</button>
        <br />
        <button type="button" class="SideButton">Thông báo giá vé máy bay</button>
        <br />
        <button type="button" class="SideButton">Passenger Quick Pick</button>
        <br />
        <button type="button" class="SideButton">Khuyến mãi</button>
        <br />
        <button type="button" class="SideButton">Tài khoản</button>
        <br />
        <button type="button" class="SideButton">Đăng xuất</button>
        <br />
    </div>
</body>

