
@{
    ViewBag.Title = "TourPage";
    Layout = "~/Views/Admin/Layout/_Customer.cshtml";
}

<body>
    <div name="Search" class="container">
        <input type="search" class="SearchBar" placeholder="Search" />
        <button type="button" class="SearchButton">Tìm kiếm</button>
    </div>
    <br />
    <h2>Các tour bán chạy</h2>
    <br />
    <h2>Tour trọn gói xuất ngoại</h2>
    <br />
    <h2>Tour theo chủ đề</h2>
    <br />
    <h2>Du lịch khắp thế giới</h2>
</body>

