
@{
    ViewBag.Title = "TourPage";
    Layout = "_CustomerLayout.cshtml";
}

<body>
    <link href="~/Content/CustomerStyle.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" />

    <div style="padding: 20px; margin-top: 100px">
        <div name="Search">
            <input type="search" id="SearchBar" placeholder="Search" />
            <button type="button" id="SearchButton">Tìm kiếm</button>
        </div>
        <h1>Các tour bán chạy</h1>
        <br />
        <h1>Tour trọn gói xuất ngoại</h1>
        <br />
        <h1>Tour theo chủ đề</h1>
        <br />
        <h1>Du lịch khắp thế giới</h1>
    </div>
</body>

